<p id="notice"><%= notice %></p>

<p>
  <strong>Answer 1:</strong>
  <%= @question.answer_1 %>
</p>

<p>
  <strong>Answer 2:</strong>
  <%= @question.answer_2 %>
</p>

<p>
  <strong>Votes answer 1:</strong>
  <%= @question.votes_answer_1 %>
</p>

<p>
  <strong>Votes answer 2:</strong>
  <%= @question.votes_answer_2 %>
</p>

<p>
  <strong>Question votes:</strong>
  <%= @question.question_votes %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
